.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode button {
  background-color: #555;
}

.dark-mode #index {
  background-color: #333;
  color: #fff;
}

.dark-mode a {
  background-color: #333;
  color: #fff;
}

.dark-mode #index_title a,
#index a {
  background-color: #333;
  color: #fff;
}

.dark-mode #index_title a,
#index a:hover {
  background-color: #555;
  color: #fff;
}

.dark-mode #jsonContainer {
  background-color: #333;
  color: #fff;
}

body.dark-mode #jsonContainer a {
  color: #f5f5f5;

  &:hover {
    color: #007bff;
  }
}

.dark-mode code.hljs {
  background-color: #c3c0c0;
}
